# We store the packages of Python and R used in the project
#Python
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupytext==1.6.0
matplotlib==3.3.3
nibabel==3.2.0
nilearn==0.7.0
numpy==1.20.2
pandas==1.1.4
ripser==0.6.0
scikit-learn==0.23.2
scipy==1.5.4

#R
devtools      2.3.2         CRAN
igraph        1.2.6         CRAN
IRdisplay     0.7.0         CRAN         
IRkernel      1.1.1         CRAN
label4MRI     1.2           Github (yunshiuan/label4MRI@b990164)  
lattice       0.20-40       CRAN
Mapper        0.9.2         Github (aaolaveh/Mapper@19710ee)
matlab        1.0.2         CRAN
plotrix       3.7.8         CRAN
RcppCNPy      0.2.10        CRAN
rjson         0.2.20        CRAN
simplextree   0.9.1         Github (peekxc/simplextree@6e34926)
stringr       1.4.0         CRAN



